<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskHub | Create</title>
    <link rel="stylesheet" href="css/create.css" />
  </head>
  <body>
    <main>
      <header>
        <h1>Crea tu nueva tarea en <span>TaskHub</span></h1>
        <p>Rellena el formulario para crear tus tareas</p>
      </header>
      <form action="" method="post">
        <fieldset>
          <label for="title">Titulo *</label>
          <input type="text" id="title" name="title" required />
          <small class="feedback"></small>
          <small class="feedback"></small>
        </fieldset>
        <fieldset>
          <label for="enddate">Fecha de Vencimiento * </label>
          <input type="date" id="enddate" name="enddate" required />
          <small class="feedback"></small>
          <small class="feedback"></small>
        </fieldset>
        <fieldset>
          <legend>Prioridad *</legend>
          <input
            type="radio"
            id="prioridad_baja"
            name="prioridad"
            value="baja"
          />
          <label for="prioridad_baja">Baja</label>
          <input
            type="radio"
            id="prioridad_media"
            name="prioridad"
            value="media"
          />
          <label for="prioridad_media">Media</label>
          <input
            type="radio"
            id="prioridad_alta"
            name="prioridad"
            value="alta"
          />
          <label for="prioridad_alta">Alta</label>
          <small class="feedback"></small>
          <small class="feedback"></small>
        </fieldset>
        <fieldset>
          <label for="description">Descripción</label>
          <textarea name="description" id="description"></textarea>
          <small class="feedback"></small>
          <small class="feedback"></small>
        </fieldset>
        <output class="feedback"></output>
        <output class="feedback"></output>
        <button type="submit">Guardar Tarea</button>
      </form>
      <p>
        Para volver a la lista de tareas, hace click
        <a href="#">Acá</a>
      </p>
    </main>
  </body>
</html>
